<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/mainCSS.css">            
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="js/navjs.js"></script>
        <script src="js/newsfeed.js"></script>
    </head>
    <body>
         <nav class="navbar navbar-light">
            
            <image src="images/ssbulogo.png" class="navbar-brand" alt="brand logo">
            
            <form class="form-inline" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <!-- <img src="images/icons/search.svg" id="searchIcon" type="submit"> -->
                <input type="image" src="/images/icons/search.svg" alt="Submit" >
            </form>
{{#if user}}
            <div class="btn-group" role="group" aria-label="Basic example">          
                <button type="button" class="btn  btn-outline-dark" onclick="location.href='/profile/{{username}}';">
                    <img src="{{imgsrc}}"  id="displayPic">
                    {{name}}
                </button>
                <button type="button" class="btn btn-ss btn-outline-dark" id="btn-Home">Home</button>
            </div>
{{else}}
            <div class="btn-group" role="group" aria-label="Basic example">          
                <button type="button" class="btn  btn-outline-dark" onclick="location.href='/adminpage';">
                    <img src="{{imgsrc}}"  id="displayPic">
                    {{name}}
                </button>
                <button type="button" class="btn btn-ss btn-outline-dark" id="btn-Home">Home</button>
            </div>
{{/if}}


            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
{{#if user}}
                    <a class="dropdown-item " href="/Notification">
                        <img src="images/icons/bell2.svg" id="notifIcon" class="dropIcon"> 
                        Notifications
                    </a>
                    <a class="dropdown-item" href="/EditProfile">
                        <img src="images/icons/edit-32.svg" id="editIcon" class="dropIcon"> 
                        Edit Profile
                    </a>
                    <a class="dropdown-item" href="/SavedFollowed">
                        <img src="images/icons/bookmark2.svg" id="savedIcon" class="dropIcon"> 
                        Saved and Followed
                    </a>
{{/if}}
                    <a class="dropdown-item" href="/getLogout">
                        <img src="images/icons/power.svg" id="savedIcon" class="dropIcon"> 
                        Log-out
                    </a>
                </div>
            </div>     

        </nav>
        
        <div id="container" >
            <div id="div1"></div>
            <div id="div2">
                <h1 id="pageTitle">Newsfeed</h1>
{{#if user}}
                <div id="woymCard">
                    <form id="postForm" action="/Newsfeed" enctype="multipart/form-data" method="post">
                        <h5>Create Post</h5>
                        <input type="text" name="postTitle" placeholder="Title" id="newPostTitle" />
                        <textarea form="postForm" rows="3" placeholder="CreatePost" id="newPostContent" name="content"></textarea>
                        <label>Add Image here: </label>
                        <label for="file-upload" class="custom-file-upload">
                                upload image
                        </label>
                        <input id="file-upload" name="postPic" type="file" accept="image/*">
                        <label id="fileName"> </label>
                        <input type="submit" value="Create Post" name="newPostButton" id="newPostButton"/>
                    </form>
                </div>
{{/if}}    
                <div id="divCon2">
{{#each post}}
<!-- <a href="/post/{{_id}}">a</a> -->
                    <div id="newsContainer">
                        
                        <div class="extra" onclick="location.href='/post/{{_id}}';">
                            <label id="nfPoster">posted by <img src="{{postusericon}}" id="postusericon">  <a href="/Profile/{{postbyName}}" class="profLink">@{{postbyName}}</a> {{postDate}} {{postTime}}</label>
                            <h3 id="newTitle">{{postTitle}} </h3>
                            <p id="newsContent">
                               {{content}}
                            </p>
                            {{#each image}}
                            <image id="postImage" class="nfPic" src={{this.img}}>
                            {{/each}}
                        </div>
                        
                            <div class="btn-group nfButtons" role="group" aria-label="Basic podt functions" id="smallbutton">
                                <button type="button" class="btn btn-icon" id="like">
                                    <image src="images/icons/thumbs-up.svg" class="postIcons">
                                </button>
                                {{nLikes}}
                            <button type="button" class="btn btn-icon" id="dislike">
                                <image src="images/icons/thumbs-down.svg" class="postIcons">
                            </button>
                                {{nDislikes}}
                            <button type="button" class="btn btn-icon" id="commentButton">
                                <image src="images/icons/message-square.svg" class="postIcons">
                            </button>
<!--                             <button type="button" class="btn btn-icon" id="bookmark">
                                <image src="images/icons/bookmark2.svg" class="postIcons">
                            </button>
                            <button type="button" class="btn btn-icon" id="follow">
                                <image src="images/icons/bell2.svg" class="postIcons">
                            </button> -->
                        </div>
                        
                    </div>

{{/each}}
                    
                </div>
                
            </div>
            <div id="div3" class="newsfeedDiv3">
                <div id="nav" class="newsfeedNav">
                    
                    <div id="navName">
                         <image src="{{imgsrc}}" id="navPic">
                        <div id="navNameContain">
                            <label id="navUserName" class="navUN">{{name}}</label><br>
                            <label id="navNickName" class="navUN">@{{username}}</label>
                        </div>
                    </div> 
                    <ul class="vertical-nav-menu navMenu3"> 
                          <li>
                            <a href="/NewsFeed" class="mm-active">
                                Newsfeed
                            </a>
                            <a href="/SavedFollowed">
                                Saved+Followed 
                            </a>
                          </li>
                     </ul>
                    
                    <h4 class="announce-nav">Announcement/s</h4>
                    <div id="navAnn3">
                        
                          <ul class="list-group list-ann">
                        {{#each announcement}}
                             <li class="list-group-item list-ann">
                                <div id="announceposts3">      
                                     <h6 id="announcementTitle">{{this.title}}</h6>
                                     {{this.text}}<br>
                                </div>
                            </li>

                        {{/each}}


                          </ul>
                    </div>
                 </div>
            </div> 
            
        </div>
        
        
        
        <!--Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
